:root {
    --var-primary: #2AB6E8;
    --var-primary-dark: #005DA3;
    --var-secondary: #6AC8E5;
    --var-dark: #0E0E0E;
    --var-light: #EDEDEE;
}

.wy-side-nav-search {
    background-color: var(--var-primary-dark);
}

.wy-nav-side {
    background-color: var(--var-dark);
}

.rst-versions .rst-current-version {
    background-color: var(--var-primary);
}

.wy-nav-content a {
    color: var(--var-primary);
}

.wy-menu-vertical a:hover {
    background-color: var(--var-primary);
}

.wy-menu-vertical li.toctree-l1.current>a {
    background-color: var(--var-secondary);
    border: 0;
}

.wy-menu-vertical li.current ul {
    background-color: var(--var-light);
}
